[Unit]
Description=Hippius TheBrain Node
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{ hippius_binary_path }}/{{ hippius_binary_name }} \
    --offchain-worker Always \
    --validator \
    --base-path {{ hippius_data_dir }} \
    --port {{ hippius_ports.p2p }} \
    --rpc-cors all \
    --database paritydb \
    --name {{ hippius_node_name }} \
    --telemetry-url "{{ hippius_telemetry_url }}" \
    --chain hippius \
    --node-key-file {{ hippius_key_path }} \
    --sync warp \
    --no-mdns \
    --bootnodes /ip4/152.228.215.107/tcp/30333/ws/p2p/12D3KooWP6WbiTSQGJZHH1FSSFyWpJeLDkwSk5Lo3AvLpzsPpjKy    


Restart=always
RestartSec={{ service_restart_delay }}
LimitNOFILE={{ service_nofile_limit }}

[Install]
WantedBy=multi-user.target
